body {
    background-color: #eeeeee;
}


form {
    background-color: #bc3b6a; 
    padding:  0.45rem;    

}

.header-input {
    display: flex;
    justify-content: center;     
       
    .ada-logo{
        width: 33px;
        height: 100%;
        margin-right: 1rem;
        margin-top: 0.4rem;
    }
    .InputAddOn {
        display: flex;
        width: 50%;
        .InputAddOn-field {            
            width: 97%;
            padding: 7px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
            height: 34px;
            
        }
        .InputAddOn-item {            
            border-radius: 0px 6px 6px 0px;            
            padding: 7px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
            height: 34px;
            background-color: #eeeeee;  


        }
    }    
      
   
    
}


