body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}


form {
    background-color: #bc3b6a; 
    padding:  0.45rem;    

}

.header-input {
    display: flex;
    justify-content: center;     
       
    .ada-logo{
        width: 33px;
        height: 100%;
        margin-right: 1rem;
        margin-top: 0.4rem;
    }
    .InputAddOn {
        display: flex;
        width: 50%;
        .InputAddOn-field {
            position: relative;
            width: 97%;
            padding: 7px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            
        }
        .InputAddOn-item {
            position: absolute;
            border-radius: 0px 6px 6px 0px;
            margin-left: 44.1rem;
            margin-top: 8.4px;
            padding: 1px 7px;
            height: 34px;
            border: none;
            background-color: #eeeeee;  
        }
    }   
}
.breadcrumb {
    padding: 1rem;
    margin-left: 18.2rem;
    p {
        font-weight: bold;
        font-size: 13px;
        color: #686767;
    }
}

.total-container {
    background-color: white;
    border-radius: 0.2rem;
    width: 60%;
    margin: 0.1rem auto;
    position: relative;
    .product-container{
        padding: 18px;
        display: flex;
        
        .picture {
            background-color: #bc3b6a;
            width: 150px;
            height: 150px;
            border-radius: 0.3rem;
        }
        .price-title-container {
            margin: 1rem;
            width: 35%;
            .price {
                display: flex;
                p {
                    font-size: 25px;
                }
            }
            .product-title {
                margin-top: 2rem;
            }

        }

    }
    .ubication {
        font-weight: bold;
        color: gray;
        position: absolute;
        margin-left: 47rem;
        margin-top: -8rem;
        font-size: 13px;
    }
    
    
    
}

