body {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.error-text {
    text-align: center;
    font-size: 23px;
}

.loading-products {
    text-align: center;
    font-size: 23px;
}

.breadcrumb {    
    margin-left: 10.4rem;
    p {
        font-weight: bold;
        font-size: 13px;
        color: #686767;
    }
}

.total-container {
    background-color: white;
    border-radius: 0.2rem;
    width: 75%;
    margin: 0.1rem auto;
    position: relative;
    .product-container{
        padding: 18px;
        display: flex;
        
        .picture {
            background-color: #bc3b6a;
            width: 180px;
            height: 180px;
            border-radius: 0.3rem;
            img {
                width: 100%;
            }
        }
        .price-title-container {
            margin: 1rem;
            width: 50%;
            .price {
                display: flex;
                .whole-number {
                    font-size: 25px;
                    color: black;
                }
                .cents {
                    margin-top: 1.3rem;
                    font-size: 15px;
                    color: black;
                }
            }
            .shipping {
                img {
                    margin-top: 1.8rem;
                    margin-left: 1.8rem;
                }
                
            }
            .product-title {
                margin-top: 0.5rem;
                color: black;
            }

        }

    }
    .ubication {
        font-weight: bold;
        color: gray;
        position: absolute;
        margin-left: 48rem;
        margin-top: 3rem;
        font-size: 13px;
    }
    
    
    
}

