

body {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.breadcrumb {
    display: flex;
    justify-content: space-around;
    width: 45%;
    text-align: left;
    margin-left: 18%;  
    p {
        font-size: 13px;
        color: #686767;
    }
    
    p:after {
    content: ">";
    color: dimgray;
    padding: 15px;
    }

    p:last-of-type::after {
    content: none;
    }
          
    p:last-of-type {
        font-weight: bold;
        
    }
}



.total-container {
    background-color: white;
    border-radius: 0.2rem;
    width: 60%;
    height: auto;
    margin: 0.1rem auto;
    padding: 1.5rem;
    margin-bottom: 2rem;
    .item-container {
        display: flex;
        justify-content: space-between;
        .picture-container {
            width: 500px;
            height: 500px;
            background-color: pink;
            border-radius: 0.2rem;
            img {
                width: 100%;
            }
        }
        .item-title {
            margin-right: 2rem;
            width: 34%;
            .item-status {
                display: flex;
                font-size: 13px; 
                margin-bottom: 1rem; 
                text-transform: capitalize;            

            }
            .price {
                display: flex;
                .whole-number{
                    font-size: 30px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
                .cents {
                    font-size: 20px;
                }
            }
            h1 {
                font-size: 24px;
                font-weight: bold;
                
            }
            #buyIt {
                background-color: #3383f9;
                border: none;
                padding: 0.7rem;
                border-radius: 0.2rem;
                color: white;
                font-size: 14px;
                width: 100%;
                margin-top: 2rem;            
            }
        }

    }
    .description-container {
        margin-top: 1rem;
            .the-description {
                width: 54%;
                font-size: 13px;
                color: grey;
                margin-top: 1rem;
                font-weight: 400;
            }
            h3 {
                font-size: 20px;
            }
    }   
    
}